@page
@model FinalProject.Pages.KidsModel
@{
}

<table>
	@{
		//@foreach (var homeProducts in Model.listProd) {
		@for (int r = 0; r < 10; r++)
		{
			<tr>
				@{
					for (int c = 0; c < 3; c++)
					{
						<td style="border-style:solid; border-width:thin; border-color: Black">
							<img src="https://images.unsplash.com/photo-1667848006694-5f032afe4e47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" height="300" />
							<h3>SHOES</h3>
						</td>
					}
				}
			</tr>
			//<td>@homeProducts.prodID</td>
		}
	}
</table>