@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<title>Products</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="Index.cshtml.css" rel="stylesheet" type="text/css" />


<div class="navbar">
    <img src="images/logo.png" alt="" class="logo" />
    <h1>Shoesify</h1>

    <a href="~/Index">Home</a>
    <a href="~/Products">Products</a>
    
    

    <span class="material-icons">favorite</span>
    <span class="material-icons">shopping_cart</span>
    <span class="material-icons">account_circle</span>

</div>

<body>
    <div class="sale">
        <h3>OUR PRODUCTS</h3>
    </div>

    <div class="container">
        <h4>All Products</h4>
        <table>
            @{
                //@foreach (var homeProducts in Model.listProd) {
                for (int r = 0; r < 1; r++)
                {
                    <tr style="display: inline-block; padding:20px; ">
                        @{
                            for (int c = 0; c < 1; c++)
                            {
                                foreach (var products in Model.products)
                                {
                                    <td style="display: inline-block; margin: 5px; border: 1px solid #CDCCC4; padding-bottom:10px; ">
                                        <img src=@products.ProductPicture width="300" />
                                        <h5>@products.ProductName</h5>
                                        <h6>₱ @products.ProductPrice</h6>
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            }
        </table>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>
                            Shoesify 2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
</body>

</html>
